/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles for Submenu*/

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    z-index: 1;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 100%;
    float: none;
}

section {
    margin: 20px;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Featured Products Section */
#featured-products {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 0;
}

/* Product Card */
.product-card {
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    #featured-products {
        flex-direction: column;
        align-items: center;
    }
    
    .product-card {
        width: 80%;
    }
}
/* Styles for Product List */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
